# This is Git's per-user configuration file.
[user]
	name = Douglas Rogers
	email = {{ .email | quote }}
# Please adapt and uncomment the following lines:
#	name = Douglas Rogers
#	email = {{ .email | quote }}
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
	ignorecase = false
